header {
  border-bottom: 2px dashed @silver;
  width: 100%;

  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5% 0;

    @media @mobile {
      display: inline-block;
      align-items: center;
      justify-content: center;
    }

    a {
      text-decoration: none;
      display: flex;

      &:hover {
        color: @sandy-beach;
        transition: 0.5s;
      }
    }
  }
}

.logo {
  color: #000;
  .fontIndie();
  flex-grow: 1;

  @media @mobile {
    display: block;
  }
}
.item {
  color: #000;
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  padding-left: 3%;
}
